.aloneDiv {
  background-color: white;
  border: 5px solid gold;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  color: rgb(0, 0, 0);
  display: flex;
  font-weight: bolder;
  flex-grow: 1;
  height: 300px;
  justify-content: center;
  list-style-type: none;
  margin: 1rem;
  padding: 10px;
  max-width: 1000px;
}

.divImg svg {
  color:cornsilk;
}

.divImg {
  align-items: center;
  background-image: url(./pokeball.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex-grow: 1;
  flex-basis: 270px;
  display: flex;
  justify-content: center;
}

.info {
  align-content:center;
  align-items: flex-start;
  display: flex;
  font-size: 25px;
  font-weight: 700;
  flex-basis: 20rem;
  flex-direction: column;
  flex-grow: 1;
  line-height: 0.5;
  padding: 10px;
}

.aloneDiv img {
  height: 250px;
  width: 200px;
}
