@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  background-color: black;
  width: 1265px;
  height: 600px;
}

.div-backGround {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/41/91/c3/4191c3496447c6ff98ae0fc098c679ce.gif");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.div-pokedex {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/33d17e08-1e7a-47ec-93f8-028d20b3658b/d2yii0o-a3c9533f-bdd7-4f04-ac18-7aac981a55c4.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzMzZDE3ZTA4LTFlN2EtNDdlYy05M2Y4LTAyOGQyMGIzNjU4YlwvZDJ5aWkwby1hM2M5NTMzZi1iZGQ3LTRmMDQtYWMxOC03YWFjOTgxYTU1YzQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.x5URKuo_rX0Lp3RBPKOuewBd9okgB1S3eAx3d5uHIZA");
  height: 600px;
  width: 400px;
  background-size: cover;
  border-radius: 6%;
  border-width:6px;  
  border-style:inset;
  border-color: #DC2C30;

}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}



.div-btns {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
}

button {
  font-family: 'Press Start 2P', cursive;
  font-size: 8.5px;
  /* background-image: linear-gradient(40deg, #4e4e4e, #000000); */
  background-color: #242424;
  color: white;
  width: 20%;
  height: 40px;
  margin: 1%;
  border-radius: 12%;
}

.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  min-width: 25%;
  margin: 10px 10px;
  border-radius: 6%;
  border-width:6px;
  border-style:inset;
  border-color: #DC2C30;
  width: 100px;
  height: 128px;
  /* Fixa a altura para não depender do carregamento da imagem */
  margin-top: 24%;
  background-image: linear-gradient(to right, #a1e3fd, #38AEDC);
}

.PokeImg {
  max-width: 98px;
  max-height: 98px;
}

.Bug {
  color: #A8B81F;
}
.Dark {
  color: #A8A878;
}
.Dragon {
  color: #705848;
}
.Electric {
  color: #F8D030;
}
.Fairy {
  color: #EE99AC;
}
.Fighting {
  color: #C03028;
}
.Fire {
  color: #F08030;
}
.Flying {
  color: #A890F0;
}
.Ghost {
  color: #705898;
}
.Grass {
  color: #78C850;
}
.Ground {
  color: #E0C068;
}
.Ice {
  color: #98D8D8;
}
.Normal {
  color: #A8A878;
}
.Poison {
  color: #A040A0;
}
.Psychic {
  color: #F85888;
}
.Rock {
  color: #B8A038;
}
.Steel {
  color: #B8B8D0;
}
.Water {
  color: #6890F0;
}

input { 
  font-family: 'Press Start 2P', cursive;
}

.arrow {
  text-align: center;
  color: rgba(255, 255, 255, 0.644);
  font-size: 18px;
  border-radius: 100%;
  height: 60px;
  width: 60px;
}

.div-btns-comand {
  display: flex;
  align-items: center;
  margin-right: 13%;
}

.comand-btn {
  width: 80px;
  height: 50px;
}