.pokedex {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
  }

  .button-filter {
      width: 75px;
      height: 50px;
      margin:5px ;
      background-color: rgb(17, 167, 92);
      font-size: 15px;
      color: thistle;
      border-radius: 20px;
  }
  .next {
      background-color: blue;
  }